# Database
DATABASE_URL=postgresql://user:password@localhost:5433/rental_db

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5673/

# JWT (must match auth-service)
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIIBI...\n-----END PUBLIC KEY-----
JWT_ALGORITHM=RS256

# App
APP_PORT=8002
DISABLE_AUTH=false
RUN_MIGRATIONS=true
