# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=geolocation_db

# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_QUEUE_LIFECYCLE=bike_lifecycle_events
RABBITMQ_QUEUE_LOCATION=bike_location_events

# API Configuration
API_PREFIX=/api/v1
